Hr-Bot.json
{
  "name": "Hr-Bot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "52321242-1c05-4d9a-a751-aec5560b3d28",
      "name": "When chat message received",
      "webhookId": "167178e6-8c74-4093-b423-06d01d82b577"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Role \n\nAct like an HR assistant who replies to employ queries regarding to the policies.\n\n#What to do / How to do \nAs soon as get a query, first thing you need to do is use \"hr_knowledge_base\" tool to fetch the similar chunks of information\n-Then using that generate a response and give it to the employee\n\n#Tools available \n-\"hr_knowledge_base\":use this tool to search for vectors similar to the user prompt.\n\n#Important Nodes\n-Use a friendly and professional tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "1ae46a98-2d2b-4395-ba4c-d3b4bf357c4a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        272
      ],
      "id": "fe5faa1c-9c15-427e-b113-27a230d2e4f4",
      "name": "OpenAI Chat Model",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        272
      ],
      "id": "b6962758-3f72-4ac9-8e0c-ffc3fb338bae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetches the information and provides to the AI agent which is similar to the query/prompt provided by the user. ",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {
          "pineconeNamespace": "HrDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        272
      ],
      "id": "2276b57b-4a3f-4740-bc6f-d26fc305cea4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w5MGtbxjgLQrZ9DF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Qf1Dt8hGrXEuXy8oMEsPrKw-JjGLEWYh",
          "mode": "list",
          "cachedResultName": "HrBot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Qf1Dt8hGrXEuXy8oMEsPrKw-JjGLEWYh"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        816,
        -16
      ],
      "id": "101bcc18-bd93-42ad-bbb7-6f54edfcd1dd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MQHDVyupmoUwXmBw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        -16
      ],
      "id": "130b0bf8-2ea3-4a9e-9c28-7ebec8d0ce41",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXcgdxMUAOiBe3Ym",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1312,
        208
      ],
      "id": "c3297abd-83a2-4c03-aa22-3c078fbbab50",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1664,
        304
      ],
      "id": "bb799573-0f01-4fc3-b968-3799fb889626",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        208
      ],
      "id": "875adbd0-f06f-4e9a-8699-420244dadf3d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        480
      ],
      "id": "3a0bd20a-2850-44b3-8137-a7178ce0b199",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {
          "pineconeNamespace": "HrDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1232,
        -16
      ],
      "id": "19a8e0e6-dfff-4e80-bcb5-4594a38da0b6",
      "name": "hr_knowledge_base",
      "credentials": {
        "pineconeApi": {
          "id": "w5MGtbxjgLQrZ9DF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        560,
        624
      ],
      "id": "4ebad606-cca5-4004-a5ae-20387cc2ba8c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "tSt2kK5eJi297vi9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "HrQuery",
              "description": "All the emails where the query is related to HR policies of the company."
            },
            {
              "category": "NonHrQuery",
              "description": "All the emails where the query is not related to HR policies of the company. It is not related"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        752,
        560
      ],
      "id": "58a142f8-9393-4ea0-a57d-94f0f65ed42f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        832
      ],
      "id": "cd4ad3f2-5ec5-4625-b985-4bed8bddcb6b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1056,
        816
      ],
      "id": "80d6e0d0-312b-4b3f-bee6-56f35ad9d20b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}\n",
        "options": {
          "systemMessage": "# Role \n\nAct like an HR assistant who replies to employ queries regarding to the policies.\n\n#What to do / How to do \nAs soon as get a query, first thing you need to do is use \"hr_knowledge_base\" tool to fetch the similar chunks of information\n-Then using that generate a response and give it to the employee\n\n#Tools available \n-\"hr_knowledge_base\":use this tool to search for vectors similar to the user prompt.\n\n#Important Nodes\n-Use a friendly and professional tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        528
      ],
      "id": "321ceebf-db72-453a-8b23-ad910bb64dbb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to fetch the information similar to the user prompt/query",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1296,
        848
      ],
      "id": "de471c0f-c21a-48d6-826d-1ba74e242094",
      "name": "hr_knowledge_base2",
      "credentials": {
        "pineconeApi": {
          "id": "w5MGtbxjgLQrZ9DF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        1008
      ],
      "id": "7a891033-f960-4038-a5b0-d3d322d8c1c0",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr_knowledge_base2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "hr_knowledge_base2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3933abf4-a8d4-44b4-8b5c-d9c749c69f7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5abe77c7b6257baa28593e33380bee429414f52f1fdafd99ed0f4fca2024fc85"
  },
  "id": "-RMtXoKUrP6YmMQ5qL9se",
  "tags": []
}